<div class="mainContainer">
    <div class="chartContainer" id="anyChartBar1">

    </div>
    <div class="chartContainer" id="anyChartBar2">

    </div>
    <div class="chartContainer" id="anyChartBar3">

    </div>
    <div class="chartContainer" id="anyChartBar4">

    </div>
</div>