<!-- <li *ngFor="let data of dataArray">
    {{user | json}} 
    {{data.longitude}}
 </li>
-->
<!-- <app-high-chart *ngIf="dataArray" [data]="dataArray"></app-high-chart> -->
<app-high-chart></app-high-chart>