<div class="app">
    <p class="title">Angular Charts Libraries Analysis</p>

    <div class="main_container">

        <p class="titleLabel">Highcharts</p>

        <div class="hr"></div>

        <p class="titleLabel">Line Charts</p>

        <div class="chartsContainer">
            <app-high-chart-line></app-high-chart-line>
        </div>

        <p class="titleLabel">Bar Charts</p>

        <div class="chartsContainer">
            <app-high-chart-bar></app-high-chart-bar>
        </div>

        <p class="titleLabel">Pie Charts</p>

        <div class="chartsContainer">
            <app-high-chart-pie></app-high-chart-pie>
        </div>

        <p class="titleLabel">Area Charts</p>

        <div class="chartsContainer">
            <app-high-chart-area></app-high-chart-area>
        </div>
    </div>
</div>