.app {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1%;
    background: rgb(245, 245, 245)
    
}


.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Helvetica;
    gap: 2vh;
}

.titleLabel {
    font-size: 30px;
    margin: 0;
}


.subtitleLabel {
    font-size: 20px;
}

.chartsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5vh;
    font-family: Helvetica;
}


.hr {
    width: 20%;
    height: 2px;
    background-color: #6610E6
}