<div class="mainContainer">
    <div id="lineChart" class="chartContainer"></div>
    <div id="lineChart1" class="chartContainer"></div>
    <div id="lineChart2" class="chartContainer"></div>
    <div id="lineChart3" class="chartContainer"></div>
</div>