.mainContainer{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 3vh;
}

.chartContainer{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 25px;
    background-color: white;
}