<div class="mainContainer">
    <div id="areaChart" class="chartContainer"></div>
    <div id="areaChart1" class="chartContainer"></div>
    <div id="areaChart2" class="chartContainer"></div>
    <div id="areaChart3" class="chartContainer"></div>
</div>