
.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3vh;
    font-family: Helvetica;
}

.chartContainer{
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 25px;
    background-color: white;
}

