<div class="mainContainer">
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="area2d" [dataSource]="chart1">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="stackedarea2d" [dataSource]="chart2">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="mssplinearea" [dataSource]="chart3">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="stackedarea2d" [dataSource]="chart4">
        </fusioncharts>
    </div>
</div>