<div class="app">
    <div class="main_container">

        <p class="titleLabel">AnyChart</p>

        <div class="hr"></div>

        <p class="titleLabel">Line Charts</p>

        <div class="chartsContainer">
            <app-any-chart-line></app-any-chart-line>
        </div>

        <p class="titleLabel">Bar Charts</p>

        <div class="chartsContainer">
           <app-any-chart-bar></app-any-chart-bar>
        </div>

        <p class="titleLabel">Pie Charts</p>

        <div class="chartsContainer">
            <app-any-chart-pie></app-any-chart-pie>
        </div>

        <p class="titleLabel">Area Charts</p>

        <div class="chartsContainer">
            <app-any-chart-area></app-any-chart-area>
        </div>
    </div>
</div>