<div class="mainContainer">
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="pie2d" [dataSource]="chart1">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="pie3d" [dataSource]="chart2">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="doughnut2d" [dataSource]="chart3">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="doughnut3d" [dataSource]="chart4">
        </fusioncharts>
    </div>
</div>