<div class="mainContainer">
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="line" [dataSource]="chart1">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="msline" [dataSource]="chart2">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="line" [dataSource]="chart3">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="scrollline2d" [dataSource]="chart4">
        </fusioncharts>
    </div>
</div>