<div class="mainContainer">
    <div class="chartContainer" id="anyChartArea1">

    </div>
    <div class="chartContainer" id="anyChartArea2">

    </div>
    <div class="chartContainer" id="anyChartArea3">

    </div>
    <div class="chartContainer" id="anyChartArea4">

    </div>
</div>