<div class="mainContainer">
    <div id="container" class="chartContainer"></div>
    <div id="container1" class="chartContainer"></div>
    <div id="container2" class="chartContainer"></div>
    <div id="container3" class="chartContainer"></div>
</div>

<!-- <p *ngFor="let data of dataValues">{{data | json}}</p> -->
