<div class="mainContainer">
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="column2d" [dataSource]="barChart1">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="mscolumn2d" [dataSource]="barChart2">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="msbar3d" [dataSource]="barChart3">
        </fusioncharts>
    </div>
    <div class="chartContainer">
        <fusioncharts width="500" height="300" type="bar3d" [dataSource]="barChart4">
        </fusioncharts>
    </div>
</div>