<div class="mainContainer">
    <div class="chartContainer" id="anyChartLine1">

    </div>
    <div class="chartContainer" id="anyChartLine2">

    </div>
    <div class="chartContainer" id="anyChartLine3">

    </div>
    <div class="chartContainer" id="anyChartLine4">

    </div>
</div>